<!-- //Parant to Child
<app-child [parantTitle]="title" [list]="colorList"></app-child>
<input type="text" #id1 placeholder="Enter color">
<button (click)="pushData(id1.value)">send value</button> -->


<!-- <div class="child-parent">
  <app-child (sendfullName)="getFullName($event)" (sendSchoolName)="getSchoolName($event)"></app-child><br><br>
Fullname:{{fullNameParent}}
<br><br>
School name:{{schoolName}}
</div> -->

<!-- <app-outside></app-outside> -->

service Value:{{prefexData}} <br><br>

value of out side compo. but printed from parent::: <h2>{{outsideData}}</h2>
