<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">Roll No.</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Age</th>
      <th scope="col">Gender</th>
      <th scope="col">School Name</th>
      <th scope="col">Update Row</th>
      <th scope="col">Delete Row</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{rollNumber}}</td>
      <td>{{firstName}}</td>
      <td>{{lastName}}</td>
      <td>{{age}}</td>
      <td>{{gender}}</td>
      <td>{{schoolName}}</td>
    </tr>
  </tbody>
</table>
 -->

 RollNumber:{{rollNumber}} <br><br>
 First Name:<input type="text" [(ngModel)]="firstName"><br><br>
 Last Name:<input type="text" [(ngModel)]="lastName"><br><br>
 Age:<input type="text" [(ngModel)]="age"><br><br>
 Gender:<input type="text" [(ngModel)]="gender"><br><br>
 School Name:<input type="text" [(ngModel)]="schoolName"><br><br>
 <button (click)="UpdateData()">Update</button>
