<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Gallary">Gallary</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- WE provide the link of components using routerlink="/" but at this time we need to make plce where actually they gonna print.
So now we make on div for that, -->
<div>
  <router-outlet></router-outlet>
</div>
